@model MMS.ViewModels.UserProfileViewModel
@{
    ViewBag.Title = "Create User Profile";
    ViewBag.Method = "Create";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm((string) ViewBag.Method, "Calendar", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="well">
	    @Html.ValidationSummary(true)

        <div class="box-orange x-hidden" id="message"></div>

	    <div class="box-blue">
            @Html.FormLineTextBoxFor(m => m.UserProfile.Username, true)

		    <div class="control-group">
                @Html.LabelFor(m => m.UserProfile.Password, new { @class = "control-label control-label-big" })
			    <div class="controls">
				    @Html.PasswordFor(m => m.UserProfile.Password, new { @readonly = "true" })
			    </div>
		    </div>
	    </div>
    </div>
    
    <div class="well">
        <div class="control-group">
	        <div class="controls">
		        <button type="submit" class="btn btn-primary">Save &amp; Continue</button>
		        <button type="button" class="btn btn-large">Cancel</button>
	        </div>
        </div>
    </div>
}
