@model MMS.ViewModels.SignupViewModel

@using (Html.BeginForm((string) ViewBag.Method, "Signup", FormMethod.Post, new { @class = "form-horizontal" }))
{
	<div class="well">
		@Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.SignupId)

        <div class="box-blue">
            @Html.FormLineDropDownListFor(m => m.EventId, (IEnumerable<SelectListItem>) ViewBag.EventList, true)
            @Html.FormLineTextBoxFor(m => m.Signup.Minimum, true, new { data_mask = "99999" })
            @Html.FormLineTextBoxFor(m => m.Signup.Maximum, true, new { data_mask = "99999" })
            @Html.FormLineTextBoxFor(m => m.Signup.Opens, true)
            @Html.FormLineTextBoxFor(m => m.Signup.Closes, true)
            @Html.FormLineDropDownListFor(m => m.Signup.OpenToPublic, (IEnumerable<SelectListItem>) ViewBag.YesNoList, true)
        </div>
         
        <div class="box-grey">
            @Html.FormLineDropDownListFor(m => m.Signup.SignupIsOpen, (IEnumerable<SelectListItem>) ViewBag.YesNoList, true)
        </div>
    </div>    

    <div class="well">     
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn btn-primary">Save Changes</button>
				<a href="@Request.UrlReferrer" class="btn">Cancel</a>
			</div>
		</div>
	</div>
}

<script type="text/javascript">
	$(function () {
	    $('#Signup_Opens').datetimepicker();
	    $('#Signup_Closes').datetimepicker();
	});
</script>