@model MMS.ViewModels.MessageViewModel

@using (Html.BeginForm((string)ViewBag.Method, "Messaging", FormMethod.Post, new { @class = "form-horizontal" })) 
{
    <div class="well">
		@Html.ValidationSummary(true)
		@Html.HiddenFor(m => m.FromUserId)

        <div class="box-blue">
            @Html.FormLineDropDownListFor(m => m.ToUserId, (IEnumerable<SelectListItem>)ViewBag.Users, true, new { @class = "input-xlarge" })
            @Html.FormLineTextBoxFor(m => m.Subject, true, new { @class = "input-xxlarge" })
        </div>

        <div class="box-grey">
			<div class="control-group">
				@Html.LabelFor(model => model.Body, new { @class = "control-label control-label-big" })
				<div class="controls">
					@Html.TextAreaFor(model => model.Body, new { @class = "textarea-medium", rows = 10 })
				</div>
			</div>
		</div>
    </div>
    
    <div class="well">
	    <div class="control-group">
		    <div class="controls">
			    <button type="submit" class="btn btn-primary">Send</button>
			    <a href="@Request.UrlReferrer" class="btn">Cancel</a>
		    </div>
	    </div>
    </div>
}

<script type="text/javascript">
	$(function () {
	    $('#FromUserId').val(@ViewBag.UserId);
	});
</script>