@model MMS.ViewModels.ResourceViewModel
@{
    ViewBag.Title = "Mentor Resources";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="btn-group">
	<a class="btn" href="~/Resource/Create"><i class="icon-plus"></i>&nbsp;Add Resource</a>
</div>

<br />

<div class="well">
    <table class="table table-bordered table-striped table-hover">
	    <thead>
		    <tr>
                <th>ID</th>
			    <th style="width: 300px;">Name</th>
			    <th>Type</th>
			    <th style="width: 250px;">Created</th>
			    <th style="width: 150px;">Download Link</th>
			    <th>Actions</th>
		    </tr>
	    </thead>
	    <tbody>
    @foreach (var item in this.ViewBag.Resources)
    {		
	    <tr>
            <td>@item.id</td>
		    <td>@item.Name</td>
		    <td>@item.DocumentType</td>
		    <td>@String.Format("{0:f}", @item.UploadDate)</td>
		    <td><a href="@Url.Content(item.RelativeUrl)">Download File</a></td>
		    <td>
			    <a class="btn" 
				    id="EditResource" 
				    href="~/Resource/Edit/@item.id" 
				    title="Edit Resource"><i class="icon-edit"></i></a>

			    <button class="btn" 
				    id="DeleteResource" 
				    data-resourceid="@item.id" 
				    title="Delete Resource"><i class="icon-remove"></i></button>
		    </td>
	    </tr>
    }
	    </tbody>
	    <tfoot>
		    <tr>
                <th>ID</th>
			    <th>Name</th>
			    <th>Type</th>
			    <th>Created</th>
			    <th>Download Link</th>
			    <th>Actions</th>
		    </tr>			
	    </tfoot>
    </table>
</div>

<div class="well">
    <div class="control-group">
	    <div class="controls">
		    <a href="@Request.UrlReferrer" class="btn btn-primary">Back</a>
	    </div>
    </div>
</div>

<script type="text/javascript">
	$('#DeleteResource').click(function () {
		var r = confirm("Are you sure you want to delete the mentor resource?");
		if (r == true) {
			$.ajax({
				type: "DELETE",
				url: '@Url.Content("~/Resource/Delete/")' + $(this).data("resourceid"),
				success: function(data) {
					if (data.Message == "success") {
						location.reload();
					} else {
						alert('Failed to delete the mentor resource.');
					}
				}
			});
		}

		return false;
	});
</script>