@model MMS.ViewModels.RegistrationViewModel

<div id="availability" class="row-fluid reg-panel">
	<div class="well">
        <h3>All About You...</h3>
		<div class="box-blue">
            <div class="control-group">
                @Html.LabelFor(m => m.Availability, new { @class = "control-label control-label-big" })
                <div class="controls">
                    @Html.TextAreaFor(m => m.Availability, new { style = "width: 500px; height: 200px;" })
                </div>
            </div>
        </div>

        <div class="box-grey">
            <div class="control-group">
                @Html.LabelFor(m => m.LeadershipSkills, new { @class = "control-label control-label-big" })
                <div class="controls">
                    @Html.TextAreaFor(m => m.LeadershipSkills, new { style = "width: 500px; height: 200px;" })
                </div>
            </div>
        </div>

        <div class="box-blue">
            <div class="control-group">
                @Html.LabelFor(m => m.SpecialHobbies, new { @class = "control-label control-label-big" })
                <div class="controls">
                    @Html.TextAreaFor(m => m.SpecialHobbies, new { style = "width: 500px; height: 200px;" })
                </div>
            </div>
        </div>

        <div class="box-grey">
            <div class="control-group">
                @Html.LabelFor(m => m.SpecialRequests, new { @class = "control-label control-label-big" })
                <div class="controls">
                    @Html.TextAreaFor(m => m.SpecialRequests, new { style = "width: 500px; height: 200px;" })
                </div>
            </div>
		</div>
        
        <div class="control-group">
			<div class="controls">
				<button type="button" 
                        class="btn btn-large btn-prev" 
                        data-curr="availability"
                        data-prev="employment">Previous Page</button>

                <button type="submit"
                        class="btn btn-primary btn-large btn-next" 
                        data-curr="availability">Submit Registration</button>
			</div>
		</div>
	</div>
</div> <!-- // PAGE 3 -->

<script type="text/javascript">
	$(document).ready(function () {

	});
</script>