@model MMS.ViewModels.RegistrationViewModel

<div id="identification" class="row-fluid reg-panel">
    <div class="well">
        <h3>Who Are You?</h3>

        <div class="box-blue">
            @Html.FormLineDropDownListFor(m => m.PrefixId, (IEnumerable<SelectListItem>) @ViewBag.Prefixes, true)
            @Html.FormLineTextBoxFor(m => m.FirstName, true)
            @Html.FormLineTextBoxFor(m => m.MiddleInitial, true)
            @Html.FormLineTextBoxFor(m => m.LastName, true)
            @Html.FormLineDropDownListFor(m => m.SuffixId, (IEnumerable<SelectListItem>) @ViewBag.Suffixes, true)
        </div>

        <div class="box-grey">
            @Html.FormLineTextBoxFor(m => m.DateOfBirth, true, new { data_mask = "99/99/9999" })
            @Html.FormLineTextBoxFor(m => m.SocialSecurityNumber, true, new { data_mask = "999-99-9999" })
            @Html.FormLineDropDownListFor(m => m.RaceId, (IEnumerable<SelectListItem>) @ViewBag.Races, true)
            @Html.FormLineDropDownListFor(m => m.GenderId, (IEnumerable<SelectListItem>) @ViewBag.Genders, true)
            @Html.FormLineDropDownListFor(m => m.MaritalStatus, (IEnumerable<SelectListItem>) @ViewBag.YesNo, true)
        </div>

        <div class="box-orange x-hidden" id="MaidenNameRow">
            @Html.FormLineTextBoxFor(m => m.MaidenName, true)
        </div>

        <div class="box-blue">
            @Html.FormLineTextBoxFor(m => m.StateDl, true)
            @Html.FormLineDropDownListFor(m => m.StateWhereDlIssued, (IEnumerable<SelectListItem>) @ViewBag.States, true)
        </div>

        <div class="control-group">
	        <div class="controls">
		        <button type="button"
                        class="btn btn-large btn-prev" 
                        data-curr="identification"
                        data-prev="record">Previous Page</button>

		        <button type="button" 
                        id="IdentificationButton" 
                        class="btn btn-primary btn-large btn-next"
                        data-curr="identification"
                        data-next="locations">Next Page</button>
	        </div>
        </div>
    </div>
</div> <!-- // PAGE 2 -->

<script type="text/javascript">
    $(function () {
        $('#IdentificationButton').click(function () {
            console.log("hello");

            if ($('#FirstName').val() == "") {
                alert("Please enter your first name in the field provided.");
                $('#CanProceed').val("false");
                $('#FirstName').focus();
                return false;
            } else {
                $('#CanProceed').val("true");
            }

            if ($('#LastName').val() == "") {
                alert("Please enter your last name in the field provided.");
                $('#CanProceed').val("false");
                $('#LastName').focus();
                return false;
            } else {
                $('#CanProceed').val("true");
            }

            if ($('#DateOfBirth').val() == "") {
                alert("Please enter your date of birth in the field provided.");
                $('#CanProceed').val("false");
                $('#DateOfBirth').focus();
                return false;
            } else {
                $('#CanProceed').val("true");
            }

            if ($('#SocialSecurityNumber').val() == "") {
                alert("Please enter your federal social security number or tax ID in the field provided.");
                $('#CanProceed').val("false");
                $('#SocialSecurityNumber').focus();
                return false;
            } else {
                $('#CanProceed').val("true");
            }

            if ($('#RaceId').val() == "0") {
                alert("Please choose a race from the dropdown list.");
                $('#CanProceed').val("false");
                $('#RaceId').focus();
                return false;
            } else {
                $('#CanProceed').val("true");
            }

            if ($('#GenderId').val() == "0") {
                alert("Please choose a gender from the dropdown list.");
                $('#CanProceed').val("false");
                $('#GenderId').focus();
                return false;
            } else {
                $('#CanProceed').val("true");
            }

            return true;
        });

        $('#MaritalStatus').change(function () {
            handleControls();
        });

        $('#GenderId').change(function () {
            handleControls();
        });

        function handleControls() {
            var gender = $('#GenderId :selected').text();
            var status = $('#MaritalStatus :selected').text();

            if (status == "Yes") {
                if (gender == "Female") {
                    $('#MaidenNameRow').fadeIn(500);
                } else {
                    $('#MaidenNameRow').fadeOut(500);
                }
            } else {
                $('#MaidenNameRow').fadeOut(500);
            }
        }
    });
</script>