@model MMS.ViewModels.RegistrationViewModel
@{
    ViewBag.Title = "Mentor Registration Status";
    
    // Build the name
    ViewBag.Name = "";

    if (Model.PrefixId != 0) {
        ViewBag.Name += ViewBag.Prefix;
    }
    
    ViewBag.Name += " " + Model.FirstName;

    if (!Model.MiddleInitial.IsEmpty()) {
        ViewBag.Name += " " + Model.MiddleInitial;
    }

    ViewBag.Name += " " + Model.LastName;
    
    if (Model.SuffixId != 0) {
       ViewBag.Name += " " + ViewBag.Suffix;
    }

    ViewBag.SSNLast4 = CommonUtils.GetLast(@Model.SocialSecurityNumber, 4);
}

<style type="text/css">

</style>

<h2>@ViewBag.Title</h2>

<div class="row">
	<div class="well">
        <div id="message" class="x-hidden"></div>

        <h2>Your Application Details</h2>
        <div class="box-blue">
            <table class="application" border="0">
                <tr>
                    <th>Prefix</th>
                    <th>First Name</th>
                    <th>Middle Initial</th>
                    <th>Last Name</th>
                    <th>Suffix</th>
                    <th>DOB</th>
                    <th>SSN</th>
                </tr>
                <tr>
                    <td>@ViewBag.Prefix</td>
                    <td>@Model.FirstName</td>
                    <td>@Model.MiddleInitial</td>
                    <td>@Model.LastName</td>
                    <td>@ViewBag.Suffix</td>
                    <td>@Model.DateOfBirth</td>
                    <td>&#10033;&#10033;&#10033;&ndash;&#10033;&#10033;&#10033;&ndash;@ViewBag.SSNLast4</td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <th>Race</th>
                    <th colspan="2">Driver's License Number</th>
                    <th>DL State</th>
                    <th>Home Phone</th>
                    <th>Cell Phone</th>
                </tr>
                <tr>
                    <td>@Model.GenderId</td>
                    <td>@Model.RaceId</td>
                    <td colspan="2">@Model.StateDl</td>
                    <td>@Model.StateWhereDlIssued</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <th colspan="2">Street Address 1</th>
                    <th colspan="2">Street Address 2</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zipcode</th>
                </tr>
                <tr>
                    <td colspan="2">@Model.HomeAddress.Street1</td>
                    <td colspan="2">@Model.HomeAddress.Street2</td>
                    <td>@Model.HomeAddress.StateCode</td>
                    <td>@Model.HomeAddress.CityId</td>
                    <td>@Model.HomeAddress.PostalCode5</td>
                </tr>
            </table>
        </div>

        <h2>Your Next Steps</h2>
		<div class="box-grey">
            <ol>
                <li>Print Applications</li>
                <li>Register for Training</li>
                <li>Attend Training</li>
                <li>Schedule Your First Mentee Contact!</li>
            </ol>            
		</div>
	</div>
</div>

<script type="text/javascript">
    $(function () {

    });
</script>