@model MMS.ViewModels.EventViewModel
@{
    ViewBag.Title = "View Calendar Entry";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="well">
    <table class="table table-bordered table-striped table-hover details">
        <tr>
            <th>Event Name</th>
            <td>@Model.EventName</td>
        </tr>
        <tr>
            <th>Event Type</th>
            <td>@Model.EventType</td>
        </tr>
        <tr>
            <th>Event Begins</th>
            <td>@Model.EventBegins.ToString("f")</td>
        </tr>
        <tr>
            <th>Event Ends</th>
            <td>@Model.EventEnds.ToString("f")</td>
        </tr>
        <tr>
            <th>Event URL</th>
            <td>@Model.EventUrl</td>
        </tr>
        <tr class="expanded">
            <th>Event Details</th>
            <td>@Model.EventDetails</td>
        </tr>
    </table>
</div>

<div class="well">
    <div class="control-group">
		<div class="controls">
			<a href="@Request.UrlReferrer" class="btn btn-primary">Back</a>
		</div>
	</div>
</div>

<script type="text/javascript">
    $(function () {
        $('#NavList li').removeClass("active");
        $('#NavCalendar').addClass("active");
    });
</script>